.dropdown-menu {
    list-style: none;
    width: 50%;
    text-align: left;
    cursor: pointer;

    &__current-select {

        width: 100%;
        box-shadow: inset 5px 5px 10px rgba(0,0,0, .3), 
        inset -8px -8px 20px rgba(255,255,255, 1);
        background-color: rgba(255,255,255, .5);
        position: relative;

        .arrow-down {
            border: solid black;
            border-width: 0 3px 3px 0;
            padding: 10px;
            transform: rotate(45deg);
            float: right;
            position: relative;
            bottom: 4.5rem;
            right: 2rem;
            transition: .5s;
        }

        &:hover .arrow-down {
            border-color: var(--c-yellow);
            transform: rotate(135deg) translateY(-8px);
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 6.5rem;
            height: 100%;
            background-color: rgba(255,255,255, .7);
            // box-shadow:  inset 5px 5px 5px rgba(0,0,0, .3),
            // inset -10px -10px 10px rgba(255,255,255, .5);
            // box-shadow: 5px 5px 5px rgba(0,0,0, .3),
            //  -10px -10px 10px rgba(255,255,255, .5);
            box-shadow: -5px 0px 5px rgba(0,0,0, .3);
        }

        @media screen and (max-width: 1024px) {
            .arrow-down {
                padding: 8px;
                bottom: 4rem;
            }

            &::before {
                width: 5.7rem;
            }
        }
    }

    &__current-select, &__list li {
        height: inherit;
        line-height: 5rem;
        cursor: pointer;
        padding-left: 1rem;

        span {
            margin-left: 1rem;
            font-size: 1.5rem;
            font-weight: 300;
        }
    }

    &__list {
        display: none;
        position: relative;
        z-index: 1;
        box-shadow: inset -5px -5px 10px rgba(0,0,0, .3),
        inset 8px 8px 20px rgba(255,255,255, .8);

        li {
            // margin-top: 4px;
            // border: 1px solid rgba(0,0,0, .3);
            box-shadow: 1px 1px 1px rgba(0,0,0, .3),
            -5px -5px 5px rgba(255,255,255, .3);
            // box-shadow: inset 5px 5px 10px rgba(0,0,0, .3),
            // inset -8px -8px 20px rgba(255,255,255, 1);
            background-color: rgba(255,255,255, .5);
        }

        li:hover {
            background-color: rgba(0,0,0, .2);
        }
    }

    @media screen and (max-width: 1024px) {
        width: 55%;
    }

    @media screen and (max-width: 767px) {
        width: 100%;
    }
}