.dropdown-menu {
    list-style: none;
    // width: 500px;
    text-align: left;
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    &__current-select {

        width: 100%;
        box-shadow: inset 5px 5px 10px rgba(0,0,0, .3), 
        inset -8px -8px 20px rgba(255,255,255, 1);
        background-color: rgba(255,255,255, .5);
        cursor: pointer;
        padding-left: 1rem;
        padding-top: 1rem;
        font-size: 1.8rem;

        span {
            margin-left: 1rem;
            font-size: 1.5rem;
            font-weight: 300;
        }

        i {
            border: solid black;
            border-width: 0 3px 3px 0;
            padding: 10px;
            transform: rotate(45deg);
            float: right;
            position: relative;
            bottom: 3rem;
            right: 2rem;
        }
    }

    &__current-select, &__list li {
        height: 50px;
        cursor: pointer;
        padding-left: 1rem;
        padding-top: 1rem;
        // border: .5px solid rgba(0,0,0, .5);
    }

    &__list {
        display: none;

        li {
            // border: .5px solid rgba(0,0,0, .5);
            box-shadow: 5px 5px 10px rgba(0,0,0, .3), 
            -8px -8px 20px rgba(255,255,255, 1);
        }

        li:hover {
            background-color: rgba(0,0,0, .2);
        }
    }
}