.btn {
    font-size: inherit;
    line-height: 2.5rem;
    padding: 0 2rem;
    border: none;
    border-radius: 3px 3px;
    color: var(--c-white);
    cursor: pointer;

    &:focus {
        outline: none;
    }

    i {
        line-height: 1.5;
    }

    &__copper {
        background-color: var(--c-copper);

        &:hover {
            background-color: rgb(143, 64, 64);
        }
    }

    &__grey {
        background-color: var(--c-dark-grey);

        &:hover {
            background-color: var(--c-black);
        }
    }
}