.appartment {

    // display: grid;
    align-self: center;
    position: relative;

    &:hover &__roof, &:hover label {
        opacity: 0;
        cursor: pointer;
    }

    label {
        z-index: 2;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    // img {
    //     grid-row: 1;
    //     grid-column: 1;
    // }

    &__details {
        display: none;
        opacity: 0;
        width: 40vw;
        position: absolute;
        text-align: left;
        background-color: rgba(255,255,255,.7);
        font-size: .8em;
        border-radius: 10%;
        padding: 5rem;
        box-shadow: 2px 5px 5px rgba(0,0,0,.5);
        line-height: 2;

        ul li {
            padding-left: 2rem;
            list-style: none;
            font-size: .8em;
        }
    }

    &__roof {
        opacity: 1;
        transition: .5s;
    }

    &__room {
        position: absolute;
        z-index: -1;
    }

    &--north {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        top: 2.5rem;

        .appartment__roof {
            position: relative;
            top: -1rem;
        }
    }

    &--east {
        grid-row: 3 / 4;
        grid-column: 3 / 4;
        top: -1rem;
        right: 6.5rem;

        img {
            transform: rotate(90deg);
        }

        .appartment__roof {
            position: relative;
            top: 1rem;
            left: 2rem;
        }
    }

    &--west {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        top: -1rem;
        left: 6.5rem;

        img {
            transform: rotate(-90deg);
        }

        .appartment__roof {
            position: relative;
            top: 1rem;
            right: 2rem;
        }
    }

    &--south {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        top: -4.5rem;

        img {
            transform: rotate(180deg);
        }

        .appartment__roof {
            position: relative;
            top: 3rem;
        }
    }
}

.anim-north {
    animation: moveLeftNorth 1s ease-in-out;
    animation-fill-mode: forwards;

    .appartment__roof, label {
        opacity: 0;
    }

    .appartment__details {
            animation: moveRightNorth 1s ease-in-out;
            animation-delay: 1s;
            animation-fill-mode: forwards;
    }

    & ~ div {
        opacity: 0;
    }
}

@keyframes moveLeftNorth {
    100% {
        transform: translateX(-30rem) translateY(10rem);
    }
}

@keyframes moveRightNorth {
    0% {
        display: block;
    }
    100% {
        opacity: 1;
        transform: translateX(40rem) translateY(-10rem);
    }
}

.anim-east {
    animation: moveLeftEast 1s ease-in-out;
    animation-fill-mode: forwards;

    .appartment__roof, label {
        opacity: 0;
    }

    .appartment__details {
            animation: moveRightEast 1s ease-in-out;
            animation-delay: 1s;
            animation-fill-mode: forwards;
    }
}

@keyframes moveLeftEast {
    100% {
        transform: translateX(-70rem);
    }
}

@keyframes moveRightEast {
    0% {
        display: block;
    }
    100% {
        opacity: 1;
        transform: translateX(60rem) translateY(-10rem);
    }
}

.anim-south {
    animation: moveLeftSouth 1s ease-in-out;
    animation-fill-mode: forwards;

    .appartment__roof, label {
        opacity: 0;
    }

    .appartment__details {
            animation: moveRightSouth 1s ease-in-out;
            animation-delay: 1s;
            animation-fill-mode: forwards;
    }
}

@keyframes moveLeftSouth {
    100% {
        transform: translateX(-30rem) translateY(-10rem);
    }
}

@keyframes moveRightSouth {
    0% {
        display: block;
    }
    100% {
        opacity: 1;
        transform: translateX(40rem) translateY(-10rem);
    }
}

.anim-west {
    // animation: moveLeftWest 1s ease-in-out;
    animation-fill-mode: forwards;

    .appartment__roof, label {
        opacity: 0;
    }

    .appartment__details {
            animation: moveRightWest 1s ease-in-out;
            // animation-delay: 1s;
            animation-fill-mode: forwards;
    }
}

@keyframes moveLeftWest {
    100% {
        // transform: translateX(-30rem) translateY(10rem);
    }
}

@keyframes moveRightWest {
    0% {
        display: block;
    }
    100% {
        opacity: 1;
        transform: translateX(40rem) translateY(-10rem);
    }
}