.appartment {

    display: grid;

    label {
        // display: none;
        z-index: 2;
        opacity: 1;

        &:hover {
            opacity: 0;
        }
    }

    img {
        grid-row: 1;
        grid-column: 1;

        // & + div {
        //     opacity: 1;
        //     transition: .2s;
        // }

        // &:hover + div {
        //     opacity: 1;
        //     transform: translateX(10%);
        // }
    }

    &__details {
        display: none;
    }

    &__roof {
        opacity: 1;
        transition: .5s;
        cursor: pointer;

        &:hover {
            opacity: 0;
        }
    }

    &__room {
        // transition: .5s;

        // &:hover {
        //     transform: scale(2);
        // }
    }

    &__north {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    &__east {
        grid-row: 3 / 4;
        grid-column: 3 / 4;
        transform: rotate(90deg);
    }

    &__west {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        transform: rotate(-90deg);
    }

    &__south {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        transform: rotate(180deg);
    }
}