.appartment {

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 50%;
        height: 50%;

        & + div {
            opacity: 0;
            transition: .2s;
            display: inline-block;
        }

        &:hover + div {
            opacity: 1;
            transform: translateX(10%);
        }
    }
}