.searchbar {
    display: flex;
    justify-content: center;

    form {

        display: flex;
        height: 4rem;
        position: relative;

        input[type=text] {
            font-size: 2rem;

            &:focus {
                outline: none;
            }
        }
    }
}