.card {
    height: 30rem;
    width: 30rem;
    // background: linear-gradient(150deg,   rgba(250, 242, 227, .5),  rgba(214, 207, 194, .5));
    background: rgba(255,255,255,.2);
    float: left;
    margin: 0 5rem;
    padding: 3rem;
    border-radius: 10%;
    box-shadow: 10px 10px 10px rgba(0,0,0, .3), 
            -10px -10px 20px rgba(255,255,255, 1);
    margin-top: 10rem;
    color: #2c3634;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &:hover {
        animation: card 1s;
    }

    @keyframes card {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(10px);
        }

        90% {
            transform: translateY(-10px);
        }
    }
}