.App {
  font-size: 2rem;
  text-align: center;
  color: var(--c-dark-grey);
  display: grid;
  grid-template-rows: 15vh 85vh;
  grid-template-columns: 1fr 70% 1fr;
  align-items: center;

  .logo {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;

    object {
      width: 10rem;
      height: 10rem;
      margin-left: 3rem;
      pointer-events: none;
    }

  }

  .fade {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: start;
    position: relative;

    @media screen and (max-width: 767px) {
      grid-column: 1 / -1;
    }
  }

  .fade-enter {
    opacity: 0.01;
  }

  .fade-enter-active {
    opacity: 1;
    transition: 300ms ease-in;
  }

  .fade-exit {
    opacity: 1;
  }

  .fade-exit-active {
    opacity: 0;
    transition: 200ms ease-in;
  }
}