.App {
  text-align: center;
  color: #282c34;
  font-size: 2rem;
  display: grid;
  grid-template-rows: 10% 20% 50% 1fr;
  grid-template-columns: 1fr 70% 1fr;
  grid-gap: 1rem;

  object {
    width: 10rem;
    height: 10rem;
    margin-left: 2rem;
  }
}
