nav {

    grid-row: 1 / span 1;
    grid-column: 2 / span 1;


    ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;

        li {
            padding: 1rem;
            font-size: 1.1em;

            a {
                color: inherit;
                text-decoration: none;
                display: inline-block;
                transition: transform .2s;

                &:hover {
                    transform: translateX(5px);
                }
            }
        }
    }
}

.highlight {
    position: absolute;
    transition: .5s;
    display: block;
    top: 0;
    left: 0;
    border-radius: 5%;
    background-color: rgba(68,156,111, .5);
    z-index: -1;

    &:hover {
        transform: translateX(5px);
    }
}