nav {

    grid-row: 1 / span 1;
    grid-column: 2 / span 2;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;

        li {
            padding: 1rem;
            font-size: 1.1em;
            position: relative;

            a {
                color: inherit;
                text-decoration: none;
                display: inline-block;
                transition: transform .2s;

                &:hover {
                    transform: translateX(5px);
                }
            }
        }

        .currentNav {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 70%;
                height: 2px;
                border-radius: 20%;
                background-color: var(--c-copper);
                transition: .5s;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 30%;
                height: 2px;
                border-radius: 20%;
                background-color: var(--c-copper);
                transition: .5s;
            }

            &:hover::before,
            &:hover::after {
                width: 100%;
            }
        }
    }

@media screen and (max-width: 1024px) {
        font-size: 1.7rem;
}

@media screen and (max-width: 768px) {

        grid-column: 2 / span 2;
        position: relative;
        top: 2rem;
        right: -2rem;
        width: 90px;
        height: 60px;
        background: var(--c-copper);
        border-radius: 10%;
        justify-self: end;
        cursor: pointer;
        transition: .2s;
        border: 1rem solid rgba(126, 70, 70, 1);
        box-shadow: 2px 2px 5px rgba(0,0,0,.5);
        z-index: 3;

        &::before {
            content: '---';
            position: absolute;
            bottom: .5rem;
            left: 1.5rem;
            color: var(--c-white);
        }

        &::after {
            content: '---';
            position: absolute;
            top: .5rem;
            right: 1.5rem;
            color: var(--c-white);
        }

        &:hover {
            width: 65rem;
            height: 70rem;
            top: 10rem;
            right: -30rem;
            background-color: rgba(126, 70, 70, 1);
            border-radius: 50%;

            &::before {
                content: '';
                position: absolute;
                width: 55rem;
                height: 65rem;
                right: 0rem;
                border-radius: 50%;
                background: var(--c-copper);
                border-radius: inherit;
            }

            ul {
                display: block;
            }
        }

        ul {
            font-size: .8em;
            position: relative;
            right: -10rem;
            display: none;
            top: 50%;
            color: var(--c-white);;
            width: 30%;
        }

        .currentNav {
            background-color: rgba(126, 70, 70, 1);

            &::before,
            &::after {
                display: none;
            }
        }

        .highlight {
            display: none;
        }
    }
}

.highlight {
    position: absolute;
    transition: .5s;
    // display: block;
    top: 0;
    left: 0;
    border-radius: 5%;
    background-color: rgba(182, 102, 102, .1);
    z-index: -1;

    &:hover {
        transform: translateX(5px);
    }
}