.layout {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}

.home {
    display: flex;
    flex-direction: column;
    align-content: center;

    div {
        margin-top: 10%;
        font-size: 5rem;
    }
}

.concept {
    display: flex;
    justify-content: space-between;
}

.story {
    width: 70vw;
}