.layout {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;

    &__home {
        display: flex;
        flex-direction: column;
        align-content: center;

        div {
            margin-top: 10%;
            font-size: 5rem;

            .positive-adj {
                font-weight: 600;
                box-shadow: 5px 5px 5px rgba(0,0,0, .5),
                -5px -5px 10px rgba(255, 255, 255, .7);
                transition: .2s;
                display: inline-block;

                &:hover {
                    transform: translateY(5px);
                }
            }
        }
    }

    &__concept {
        display: flex;
        justify-content: space-between;
    }

    &__story {
        margin-top: 20rem;
        width: 70vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > * {
            font-size: 3rem;
            text-align: left;
            width: 50%;

            &:not(div) {
                margin-top: 40rem;
            }
        }

        & > :nth-child(odd) {
            grid-column: 1 / 2;
            align-self: flex-start;
        }

        & > :nth-child(even) {
            grid-column: 2 / 3;
            align-self: flex-end;
        }

        textarea {
            background-color: var(--color-primary);
        }
    }
}