.layout {
    margin-top: 10rem;
    position: absolute;
    width: 100%;

    &__home {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-bottom: 20rem;

        div {
            font-size: 5rem;
            margin-top: 5rem;
            position: relative;

            .positive-adj {
                font-weight: 600;
                box-shadow: 5px 5px 5px rgba(0,0,0, .5),
                -5px -5px 10px rgba(255, 255, 255, .7);
                transition: .2s;
                display: inline-block;
                cursor: help;

                &:hover {
                    transform: translateY(5px);
                }
            }

            @media screen and (max-width: 1024px) {
                font-size: 4rem;
            }

            .info-box {
                position: absolute;
                top: -15rem;
                right: 0rem;
                background-color: rgba(255, 217, 0, 0.3);
                font-size: 1.5rem;
                text-align: left;
                padding: 2rem 1rem 2rem 3rem;
                border-radius: 10px;
                border: 1px dashed var(--c-black);
                transition: .5s;

                @media screen and (max-width: 768px) {
                    padding: 1.5rem .5rem 1.5rem 2.5rem;
                }
            }
        }
    }

    &__concept {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__appartments {
        display: grid;
        grid-template-rows: 20vh min-content 1fr;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 8rem;
        align-items: start;
        justify-content: center;
        margin-bottom: 20rem;

        label {
            background-color: var(--c-yellow);
            box-shadow:  inset 10px 10px 10px rgba(0,0,0, .3),
             inset -10px -10px 10px rgba(255,255,255, .5);

             @media screen and (max-width: 768px) {
                box-shadow:  inset 5px 5px 7px rgba(0,0,0, .3),
                inset -5px -5px 10px rgba(255,255,255, .5);
            }
        }

        .dropdown-menu-container {
            grid-row: 1 / 2;
            grid-column: 1 / 4;
            display: flex;
            justify-content: center;
            align-self: start;

            &__city-label {
                padding: 0 2rem;
                height: 5rem;
                line-height: 5rem;
                // background: linear-gradient(-45deg, rgb(255, 217, 0), rgb(255, 250, 222));

                @media screen and (max-width: 768px) {
                    width: 11rem;
                    height: 3.5rem;
                    line-height: 3.5rem;
                }
            }

            @media screen and (max-width: 768px) {
                flex-direction: column;
                justify-self: center;
                width: 80%;
            }
        }

        .appartment-container {
            grid-row: 3 / 5;
            grid-column: 1 / 4;
            display: grid;
            grid-template-rows: 10vh repeat(3, 1fr);
            grid-template-columns: repeat(3, 1fr);

            h1 {
                grid-row: 1 / 2;
                grid-column: 1 / -1;
                font-size: 4rem;

                @media screen and (max-width: 425px) {
                    font-size: 2.5rem;
                }
            }

            .shared-living-room {
                grid-row: 3 / 4;
                grid-column: 2 / 3;
                position: relative;
                z-index: -2;
            }
        }

        @media screen and (max-width: 1024px) {
            font-size: 1.7rem;
        }
    }

    &__story {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        margin-top: 40rem;

        & > *:not(.scrollTop) {
            font-size: 3rem;
            text-align: left;
            width: 50%;
            opacity: 0;
            transition: .5s;
            margin-bottom: 30rem;

            @media screen and (max-width: 768px) {
                font-size: 2rem;
                margin: 0 5rem 30rem;
            }
        }

        & > :nth-child(odd) {
            align-self: flex-start;
        }

        & > :nth-child(even) {
            align-self: flex-end;
        }

        & > :first-child {
            opacity: 1;
        }

        & > div:not(.scrollTop) {
            font-size: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            textarea {
                width: 100%;
                height: 20rem;
                font-size: inherit;
                background-color: var(--c-sand);
                padding: 2rem;
                border: none;
                margin-bottom: 1rem;
                box-shadow:  5px 5px 10px rgba(0,0,0, .3),
                 -10px -10px 20px rgba(255,255,255, .5);

                &:hover {
                    outline: 2px solid var(--c-light-grey-outline);
                }

                &:focus {
                    outline: 2px solid var(--c-grey-outline);
                }
            }

            button {
                padding: .5rem;
                margin: .5rem;
            }

            @media screen and (max-width: 768px) {
                width: 100%;
                margin: 0 0 30rem;
            }
        }

        .scrollTop {
            position: fixed;
            width: 7rem;
            height: 7rem;
            border-radius: 50%;
            right: 5%;
            bottom: 10%;
            box-shadow: 0px 0px 10px rgba(0,0,0,1);
            background-color: var(--c-copper);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .arrow-up {
                border: solid var(--c-white);
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 10px;
                transform: rotate(-135deg);
                transition: .2s;
            }

            &:hover {
                animation: upAndDown .8s ease-in-out infinite alternate;

                .arrow-up {
                    transform: rotate(-135deg) translateY(2px) translateX(2px);
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: inherit;
                    height: inherit;
                    border-radius: 50%;
                    background-color: rgba(207, 94, 94, .5);
                    transition: .2s;
                    animation: radiate .8s ease-in-out infinite;
                }

                @keyframes radiate {
                    0% {
                        transform: scale(0);
                    }
                    50% {
                        transform: scale(1.5);
                    }
                }
            }

            @keyframes upAndDown {
                0% {
                    transform: translateY(0);
                }
                50% {
                    transform: translateY(-5px);
                }
            }

            @media screen and (max-width: 768px) {
                width: 5rem;
                height: 5rem;

                .arrow-up {
                    padding: 7px;
                }
            }
        }
    }
}